header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  header nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  .dish-block {
    display: flex;
    flex-wrap: wrap;
  }
  
  .dish-photo {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }
  
  .ingredients-list {
    width: 200px;
    margin-right: 20px;
  }
  
  .nutritional-values {
    width: 200px;
  }
  .dish-block {
    display: flex;
    flex-wrap: wrap;
  }
  
  .dish-photo, .ingredients-list, .nutritional-values {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #ffb3b3;
    padding: 20px;
    box-sizing: border-box;
  }

  .new-block {
    font-size: 1.5rem;
    color: black;
    padding-right: 60px;
  }
  .new-block li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #ffb3b3;
    border: .125rem dashed black;
    border-radius: .9375rem
  }
  .new-block li:hover {
    background-color: gray;
    -webkit-box-shadow: .0625rem .0625rem .125rem #dedede;
    box-shadow: .0625rem .0625rem .125rem #dedede
  }
  .cnew-block li span {
    margin-left: .625rem
  }
  .new-block li.cart-part__list-dish {
    margin: .4375rem 0;
    padding: .625rem .9375rem
  }
  .new-block li.cart-part__list-item {
    margin: .1875rem 0;
    padding: .3125rem .9375rem;
    background-color: #cccccc;
  }
  .plus{
    width: 30%;
  }
  .dish-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .recipe {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #ffb3b3;
    padding: 20px;
    box-sizing: border-box;
  }
  .dish-block {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
  }
  
  .dish-photo, .ingredients-list, .nutritional-values, .recipe {
    width: 100%;
  }
  .dish-block {
    display: flex;
  }
  
  .dish-photo {
    width: 400px;
  }
  
  .ingredients-list {
    width: 350px;
    ;
  }
  
  .nutritional-values {
    width: 180px;
  }
  
  .recipe {
    width: 970px;
  }
  
  .dish-block > div {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .dish-block {
    display: flex;
  }
  .new-block {
    width: 300px;
    margin-left: 20px;
  }
  .new-block {
    width: 300px;
    margin-left: 40px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .dish-block {
    display: flex;
    position: relative;
  }
  
  .new-block {
    width: 300px;
    margin-left: 40px;
  }  

 
  
  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
  }
  
  h2 {
    font-size: 50px;
    margin-bottom: 58px;
    color: #ffb3b3;
  }
  
  h3 {
    font-size: 25px;
    margin-bottom: 28px;
  }
  
  a {
    text-decoration: none;
  }
  form {
    display: flex;
    margin-top: 0em;
	background-color: default;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
    background: white;
  }
  span{
    letter-spacing: 0.1em;
    padding-left: 3px;
    padding-right: 3px;
  }
  .header {
    background: url('../img/header_bg.png') no-repeat center top / cover;
    padding-top: 10px;
  }
  header{
    width: 100%;
    min-height: 50px;
  }
  .search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #2f2f2f;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
  }
  .search-btn{
    color: #121212;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  } 
  .search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-btn{
    background: white;
  
  }
  .search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    transition: 0.4s;
  }
  .s1aboxc7 {
      flex: 1 1;
      position: relative;
  }
  form {
      display: flex;
      margin-top: 0em;
    background-color: default;
  }
  .i1ypu1yl {
      background: white;
      border: 1px solid transparent;
      border-radius: 16px;
      display: block;
      font-size: 16px;
      height: 48px;
      line-height: 17px;
      outline: none;
      padding: 0 20px 0 48px;
      text-align: left;
      width: 500px;
  }
  .w1hjnkiq {
      align-items: center;
      border-radius: 16px;
      display: flex;
      position: relative;
  }
  .i1d7sdif {
      margin: 0 10px 0 14px;
      position: absolute;
  }
  .r1yu5vgb {
      display: inline-block;
      line-height: 0;
  }
  .i1rjkic7 {
      transition: inherit;
      transition-duration: inherit;
      transition-property: inherit;
      transition-timing-function: inherit;
  }
  input {
      writing-mode: horizontal-tb !important;
      text-rendering: auto;
      color: fieldtext;
      letter-spacing: normal;
      word-spacing: normal;
      line-height: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      appearance: auto;
      -webkit-rtl-ordering: logical;
      cursor: text;
      background-color: field;
      margin: 0em;
      padding: 1px 2px;
      border-width: 2px;
      border-style: inset;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      border-image: initial;
  }
  .r10pf52h {
      align-items: var(--r10pf52h-3);
      background-color: default;
      display: flex;
      flex-direction: var(--r10pf52h-1);
      flex-grow: var(--r10pf52h-5);
      flex-shrink: var(--r10pf52h-6);
      flex-wrap: var(--r10pf52h-7);
      height: var(--r10pf52h-19);
      justify-content: var(--r10pf52h-2);
      margin: var(--r10pf52h-12) var(--r10pf52h-15) var(--r10pf52h-13) var(--r10pf52h-14);
      max-width: var(--r10pf52h-16);
      min-height: var(--r10pf52h-20);
      min-width: var(--r10pf52h-17);
      order: var(--r10pf52h-4);
      padding: var(--r10pf52h-8) var(--r10pf52h-11) var(--r10pf52h-9) var(--r10pf52h-10);
      position: var(--r10pf52h-0);
      width: var(--r10pf52h-18);
  }
  .cow0qbn {
      cursor: pointer;
      position: relative;
  }
  .ljufohk, .m1wd6zeg, .x1w4yyj4 {
      border-radius: 16px;
  }
  .m16coeem {
      height: 48px;
      min-width: 48px;
  }
  .a71den4 {
      background-color: yellow;
      color: yellow;
  }
  .bzscopr, .bzscopr:after {
      transition-duration: .15s;
  }
  .bzscopr {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      line-height: 0;
      position: relative;
      transition-property: background-color,opacity,box-shadow;
      transition-timing-function: ease-in-out;
  }
  .c14xrn6c {
      font-feature-settings: pnum,"pnum";
      -webkit-appearance: none;
      appearance: none;
      background: gray;
      border: none;
      color: inherit;
      cursor: pointer;
      font-variant-numeric: proportional-nums;
      margin: 0;
      padding: 0;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar form, #navbar img, #navbar div, #navbar li{
    padding: 10px;
  }

  .dish-block {
    color: black;
  }


  .page {
    background-color: white
  }
  .container {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    margin: 0 auto;
    max-width: 85.125rem
  }
  .container__cart {
    padding: 2.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
  }
  .container__total {
    padding: 2.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
  }
  .cart-part {
    margin: 1.5625rem .75rem;
    -webkit-box-shadow: 0 0 .25rem #fff;
    box-shadow: 0 0 .25rem #fff
  }
  .cart-part__title {
    font-size: 3rem;
    margin: 0 0 1.25rem 0;
    text-shadow: .0625rem .0625rem .25rem gray
  }
  .cart-part__list {
    font-size: 1.5rem;
    color: black
  }
  .cart-part__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #ffb3b3;
    border: .125rem dashed white;
    border-radius: .9375rem
  }
  .cart-part__list li:hover {
    background-color: #dedede;
    -webkit-box-shadow: .0625rem .0625rem .125rem #dedede;
    box-shadow: .0625rem .0625rem .125rem #dedede
  }
  .cart-part__list li span {
    margin-left: .625rem
  }
  .cart-part__list li.cart-part__list-dish {
    margin: .4375rem 0;
    padding: .625rem .9375rem
  }
  .cart-part__list li.cart-part__list-item {
    margin: .1875rem 0;
    padding: .3125rem .9375rem
  }
  .total-part {
    margin: 1.5625rem .75rem;
    -webkit-box-shadow: 0 0 .25rem #fff;
    box-shadow: 0 0 .25rem #fff
  }
  .total-part__title {
    font-size: 3rem;
    margin: 0 0 1.25rem 0;
    text-shadow: .0625rem .0625rem .25rem gray
  }
  .total-part__list {
    font-size: 1.5rem;
    color: #000;
  }
  .total-part__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #ffb3b3;
    border: .125rem dashed white;
    border-radius: .9375rem;
    padding: .3125rem .9375rem;
    margin: .3125rem 0
  }
  .total-part__list li:hover {
    background-color: #dedede;
    -webkit-box-shadow: .0625rem .0625rem .125rem #dedede;
    box-shadow: .0625rem .0625rem .125rem #dedede
  }
  .total-part__list li span {
    margin-left: .625rem
  }
  .total-part__order {
    display: block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 200px;
  }
  .total-part__order button {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    height: 60px;
    width: 240px;
    font-size: 1.25rem;
    background-color: #B36B6B;
    color: #000;
    
    border-radius: .9375rem;
    padding: .3125rem .9375rem;
    margin: 0 -60px 0 0
  }
  .button:hover {
    background-color: #dedede;
    -webkit-box-shadow: .0625rem .0625rem .125rem #dedede;
    box-shadow: .0625rem .0625rem .125rem #dedede
  }
.ingredient-container {
    float: left;
}
.button-container {
    float: left;
    margin: 25px; /* adjust as needed */
}



.minus-button.ingredient-li, .plus-button.ingredient-li {
  /* styles for buttons */
  font-size: 1.5rem;
  color: black;
  padding-right: 15px;
  background-color: gray;
  border: .125rem dashed black;
  border-radius: .975rem;
  margin-bottom: 8px;
  text-align: center;
   
}


