<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div id="map" class="map" style="width: 600px; height: 400px"></div>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Send">
    </form>
    
    <script src="{% static 'ymaps.js' %}"></script>
</body>
</html>